%h1 Демо | data URI используется

%br
= link_to 'Info', info_path
\|
= link_to 'data URI не используется', 'http://data-uri-images-off.herokuapp.com/'
\|
= link_to 'коментарии', '#comments'

%br
%p#notice= notice

%h3 Основа
%p
	%h5 Общие стили для data URI псевдо-изображений (scss)
	%pre
		:preserve
			// добавляется каждому
			.uri{
				background-size: contain !important;
				background-repeat: no-repeat !important;
			}
			// для каждого свой по этому шаблону (файл u0.png)
			.uri_u0_png {
				background-image: url(data:image/png;base64,*** data uri хэш ***) !important;
			}
	%h5 Добавленны <code>helper</code>-методы
	%pre
		:preserve
			uri_image      #=> image_tag
			uri_submit_tag #=> image_submit_tag
			uri_submit     #=> submit (для form_for)
	%h5
		Добавлен <code>uri_images.scss.erb</code> &mdash; файл,
		автоматически добавляющий необходимые классы

%h3	Простое изображение
%p
	= uri_image 'uri/u0.png', class: 'simple'
	%h5 html
	%pre= "#{uri_image 'uri/u0.png', class: 'simple'}"
	%h5 scss
	%pre
		:preserve
			.simple{
				height: 7em;
				width: 7em;
			}
	%h5 вьюха (haml)
	%pre = uri_image 'uri/u0.png', class: 'simple'

%h3	Изображение с фоновым цветом
%p
	= uri_image 'uri/u0.png', class: 'simple bg_ddd'
	%h5 html
	%pre= "#{uri_image 'uri/u0.png', class: 'simple bg_ddd'}"
	%h5 scss
	%pre
		:preserve
			.simple{
				height: 7em;
				width: 7em;
			}

			.bg_ddd{
				background: #ddd;
			}
	%h5 вьюха (haml)
	%pre = uri_image 'uri/u0.png', class: 'simple bg_ddd'

%h3	Изображение &mdash; отправка формы ( &lt;input type=image ...&gt; )
%p
	= uri_submit_tag 'uri/u0.png'
	%h5 html
	%pre= "#{uri_submit_tag 'uri/u0.png'}"
	%h5 scss
	%pre
		:preserve
			// нет стилей
	%h5 вьюха (haml)
	%pre = uri_submit_tag 'uri/u0.png'

%h3	Изображение &mdash; отправка формы с фоном ( &lt;input type=image ...&gt; )
%p
	= uri_submit_tag 'uri/u0.png', class: 'bg_ddd'
	%h5 html
	%pre= "#{uri_submit_tag 'uri/u0.png', class: 'bg_ddd'}"
	%h5 scss
	%pre
		:preserve
			.bg_ddd{
				background: #ddd;
			}
	%h5 вьюха (haml)
	%pre = uri_submit_tag 'uri/u0.png', class: 'bg_ddd'

%h3	Изображение &mdash; отправка формы внутри <code>form_for</code>
%p
	= form_for Emptyness.new, url: empty_path do |f|
		= f.uri_submit 'uri/u0.png'
	%h5 html
	%pre= "#{ form_for( Emptyness.new, url: empty_path ){ |f| f.uri_submit( 'uri/u0.png' ) } }".gsub(/></, ">\n<")
	%h5 scss
	%pre
		:preserve
			// нет стилей
	%h5 вьюха (haml)
	%pre
		:preserve
			= form_for Emptyness.new, url: empty_path do |f|
				= f.uri_submit 'uri/u0.png'
%h3	Изображение &mdash; отправка формы внутри <code>form_for</code> с фоном
%p
	= form_for Emptyness.new, url: empty_path do |f|
		= f.uri_submit 'uri/u0.png', class: 'bg_ddd'
	%h5 html
	%pre= "#{ form_for( Emptyness.new, url: empty_path ){ |f| f.uri_submit( 'uri/u0.png', class: 'bg_ddd' ) } }".gsub(/></, ">\n<")
	%h5 scss
	%pre
		:preserve
			.bg_ddd{
				background: #ddd;
			}
	%h5 вьюха (haml)
	%pre
		:preserve
			= form_for Emptyness.new, url: empty_path do |f|
				= f.uri_submit 'uri/u0.png', class: 'bg_ddd'
%h3	Пачка изображений
%p= image_pack images
.clear_both
%h3 Коментарии
%p= render 'comments/index'
%h3 Оставить коментарий
%p= render 'comments/new'
